<div class="mx-auto w-75 d-none">
    <table *ngIf="rows != null" id="excel-table" class="report-table">
        <tr>
            <ng-container *ngFor="let col of cols">
                <th *ngIf="!col.action">
                    <span>{{ col.label }}</span>
                </th>
            </ng-container>
        </tr>
        <tr *ngFor="let row of rows">
            <ng-container *ngFor="let col of cols">
                <td *ngIf="!col.action">
                    <span>{{ row[col.key] }}</span>
                </td>
            </ng-container>
        </tr>
    </table>
</div>