<app-nav-actions>
    <div class="col">
        <app-btn #btnReturn [label]="lang.return" type="secondary" (action)="gotoReglements()"></app-btn>
    </div>
    <div *ngIf="!read && !loading" class="col-md-auto text-right d-flex">
        <app-btnMenu *ngIf="reglement != null" icon="fas fa-ellipsis-h" side="left">
            <app-btn #btnAnnulerDossier [inMenu]=true colorLabel="text-danger" [label]="lang.reglement.annulerDossierbtn" (action)="notification.showModalNotification(-1)"></app-btn>
        </app-btnMenu>
        <app-btn *ngIf="((!app.isAFD(entite) && versement != null && !read) || (app.isAFD(entite) && reglement != null && !read))" #btnSaveReglement [label]="lang.save" type="secondary" ico="save" (action)="saveReglement(false, true)"></app-btn>
        <ng-container *ngIf="(!app.isAFD(entite) && versement != null && !read) || (app.isAFD(entite) && reglement != null && !read && app.taskIsNotControles(etapeTache))">
            <button class="btn btn-new ml-2" [disabled]="isLoading" (click)="saveReglement(true, true)">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                <i *ngIf="!isLoading" class="fas fa-arrow-right"></i>
                {{ lang.saveAndQuit }}
            </button>
        </ng-container>
        <span *ngIf="(versement != null && app.isAFD(entite))">
            <app-btn *ngIf="reglement != null && tache != null && !read && !app.taskIsNotControles(etapeTache)" #btnValidateTache [label]="lang.validate" type="secondary" ico="arrow-right" (action)="validerTache(true)"></app-btn>
            <app-btn *ngIf="reglement == null" #btnValidateTache [label]="lang.create" type="secondary" ico="arrow-right" (action)="validerTache(true)"></app-btn>
        </span>
    </div>
</app-nav-actions>
<app-content>
    <div *ngIf="loading" class="container">
        <app-spinner></app-spinner>
    </div>
    <div class="row d-flex mt-2" [ngClass]="{ 'invisible': loading }">
        <div id="sidebar-col" class="col-12 col-md-4 col-xl-3">
            <app-card [autoHeight]=false>
                <div id="sidebar-container" class="container infos-dossier">
                    <span *ngIf="showSidebar" class="mb-3 mt-4 info-header text-uppercase">{{ lang.contexteDossier }}</span>
                    <button class="btn btn-collapse-sidebar float-right" (click)="app.toggleSidebar(this)" [title]="titleSidebarToggle">
                        <i id="ico-sidebar-context" class="fas fa-compress-alt"></i>
                    </button>
                    <app-infos-context #infosContext *ngIf="showSidebar && !loading" [showConcoursPROPARCO]="true" [reglement]="reglement" [versement]="versement" [entite]="entite" [isDCV]="isDCV"></app-infos-context>
                </div>
            </app-card>
        </div>
        <div id="sidebar-col-content" class="col-12 col-md-8 col-xl-9">
            <div class="row d-flex">
                <div class="col">
                    <app-card [autoHeight]=false className="mt-0">
                        <div class="m-4">
                            <div>
                                <app-infos-dossier #infosDossier *ngIf="reglement != null && app.isAFD(entite); else ngElseIsVersement" [dossier]="reglement" type="DDR" [versement]="versement"></app-infos-dossier>
                                <ng-template #ngElseIsVersement>
                                    <app-infos-dossier #infosDossier *ngIf="versement != null && idReglement == null; else ngElseIsVersement2" [dossier]="versement" type="DDR" [versement]="versement"></app-infos-dossier>
                                </ng-template>
                                <ng-template #ngElseIsVersement2>
                                    <app-infos-dossier #infosDossier *ngIf="versement != null && idReglement != null && reglement != null" [dossier]="reglement" type="DDR" [versement]="versement"></app-infos-dossier>
                                </ng-template>
                            </div>
                            <h4 *ngIf="reglement != null && app.isDossierAnnule(reglement.code_statut_dossier)"><span class="text-danger">{{ lang.demandeAnnuleLabel }}</span></h4>
                            <p class="title-form">
                                {{ lang.infoRequired }} <span class="text-danger">*</span> {{ lang.mandatory }}
                            </p>
                            <app-infos-versement #infosVersement *ngIf="caseId != null" [versement]="versement" [tache]="tache" [caseId]="caseId" [read]="reglement != null ? app.isDossierAnnule(reglement.code_statut_dossier) : false" [role]="role">
                            </app-infos-versement>
                            <div class="mt-5" [id]="'formio_reglement' + entite"></div>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</app-content>
<app-notification *ngIf="tache != null" #notification typeDossier="DR" [dossier]="reglement" [tache]="tache" [persistenceIdParent]="versement.persistenceId" (annulerDossier)="annulerDossier($event)" (annulerAction)="annulerAction($event)"></app-notification>
<!-- TOASTS -->
<div class="toast" id="toastReglementSave">{{ lang.successSave }}</div>
<div class="toast" id="toastReglementAnnulerOk">{{ lang.reglement.toastDossierAnnulerOk }}</div>
<div class="toast" id="toastJustificatifDeleteSuccess">{{ lang.successDelete }}</div>
<div class="toast" id="toastUpdateReglementContrevaleurSuccess">{{ lang.reglement.updateContrevaleurOk }}</div>
<div class="toast" id="toastUpdateReglementEquivalentSuccess">{{ lang.reglement.updateEquivalentOk }}</div>
<div class="toast error" id="toastReglementAnnulerKo">{{ lang.reglement.toastDossierAnnulerKo }}</div>
<div class="toast error" id="toastCommentMondatoryError"> {{ lang.reglement.commentMondatoryError }}</div>
<div class="toast error" id="toastMontantJustificatifsError"> {{ lang.reglement.montantJustificatifsError }}</div>
<div class="toast error" id="toastARMontantJustificatifsError"> {{ lang.reglement.montantARJustificatifsError }}</div>
<div class="toast error" id="toastReglementSaveError">{{ lang.failedFormSave }}</div>
<div class="toast error" id="toastUpdateReglementContrevaleurError">{{ lang.reglement.updateContrevaleurError }}</div>
<div class="toast error" id="toastUpdateReglementEquivalentError">{{ lang.reglement.updateEquivalentError }}</div>
<div class="toast error" id="toastDeviseReglementSurAvanceError"> {{ lang.reglement.deviseReglementSurAvanceError }} </div>
<!-- MODALS -->
<div *ngIf="reglement != null">
    <app-modal modalId="modalValiderReglement" [modalTitle]="lang.versement.validateReglement" icon="check" (validate)="validerReglement()">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-dark">{{ lang.reglement.reglementGenerateType }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="radio" id="choixBrouillon" value="B" [(ngModel)]="statut">
                    <label class="text-dark ml-3" for="choixBrouillon">{{ lang.reglement.draftType }}</label>
                </div>
                <div class="col">
                    <input type="radio" id="choixNonBrouillon" value="" [(ngModel)]="statut">
                    <label class="text-dark ml-3" for="choixNonBrouillon">{{ lang.reglement.decisiveType }}</label>
                </div>
            </div>
        </div>
    </app-modal>
</div>
<div *ngIf="app.isAFD(entite)">
    <app-modal #saveJustificatif modalId="modalAddJustificatifReglement" [modalTitle]="lang.reglement.saisieJustif" size="xl" [hideFooter]="!app.isAgentVersement(role)" [isDelete]="alreadyCreatedJustifReg" (validate)="saveJustificatifReglement()" (delete)="showDeleteConfirmJustificatifReglement()">
        <div *ngIf="app.isAFD(entite) && alreadyCreatedJustifReg && showRepriseVersement" class="row m-0 mt-1 mb-5">
            <div class="badge-table col3"><span>{{ lang.reglement.reprise }}</span></div>
        </div>
        <p *ngIf="!loadingJustificatif" class="title-form">{{ lang.infoRequired }} <span class="text-danger">*</span> {{ lang.mandatory }}</p>
        <div *ngIf="loadingJustificatif" class="container">
            <app-spinner></app-spinner>
        </div>
        <div id="formio_justificatifReglement" [ngClass]="{ 'invisible': loadingJustificatif }"></div>
        <div class="toast error" id="toastJustificatifsReglementSaveError">{{ lang.failedFormSave }}</div>
        <div class="toast error" id="toastMontantsRubriqueSaveError">{{ lang.reglement.montantsRubriqueError }}</div>
        <div class="toast error" id="toastMontantAPayerError">{{ lang.reglement.montantAPayerError }}</div>
        <div class="toast error" id="toastMontantAPayerDCError">{{ lang.reglement.montantAPayerDCError }}</div>
        <div class="toast error" id="toastMontantsVentilationError">{{ lang.reglement.montantsVentilationError }}</div>
        <div class="toast error" id="toastARVentilationError">{{ lang.reglement.ventilationARError }}</div>
        <div class="toast error" id="toastMontantJustificatifError">{{ lang.reglement.montantsJustifError }}</div>
    </app-modal>
    <app-teleport #teleportRubriques to=".teleport-rubriquesJust">
        <p *ngIf="!showRubriquesDC">{{ lang.reglement.nonShowRubriquesDC }}</p>
        <h6 *ngIf="showRubriquesDC" class="mt-3">{{ lang.reglement.showRubriquesDC }}</h6>
        <app-rubriques #rubriquesComponent [enableAdd]=false></app-rubriques>
    </app-teleport>
</div>
<app-modal #modalConfirmationAddJustificatifReglement modalId="modalConfirmationAddJustificatifReglement" size="s" (validate)="addJustificatifReglement($event)">
    <div class="container">
        <p class="title-form">{{ lang.confirmationAddJusitificatif }}</p>
    </div>
</app-modal>
<app-modal #modalDeleteJustificatifReglement modalId="modalConfirmSuppressionJustificatifReglement" [modalTitle]="titleModalConfirmSuppressionJustificatif" [validateLabel]="lang.validate" (validate)="deleteJustificatifReglement()" (cancel)="cancelDeleteJustificatifReglement()">
    {{ lang.justificatif.validateDeleteJustificatif }} - {{ justificatifReglementLabel }} ? <br> <br>
</app-modal>
<app-modal #modalMessagePaysExecution modalId="modalMessagePaysExecution" [validateLabel]="lang.validate" (validate)="validateErrorDDRPaysExecution()" (cancel)="cancelErrorDDRPaysExecution()">
    {{ lang.reglement.messagesValidatePaysExecution }} <br> <br>
</app-modal>
<!-- TELEPORTS -->
<app-teleport #teleportBeneficiairePrimaire to=".teleport-beneficiaire-primaire">
    <div *ngIf="beneficiairePrim != null" class="accordion container float-left p-1">
        <div class="card infos card-collapse mt-3">
            <div class="card-header card-collapse-header mb-2" data-target="#collapseReglementBeneficiairePrimaire">
                <i class="fas fa-window-restore mr-3"></i>
                {{ beneficiairePrim.idTiers }} - {{ beneficiairePrim.libLong }}
            </div>
            <div id="collapseReglementBeneficiairePrimaire" class="collapse show">
                <div class="card-body">
                    <div class="container px-2">
                        <div class="row mt-0 pb-2 card-collapse-separator">
                            <div class="col">
                                <div class="card-collapse-th"> {{ lang.id }} </div>
                            </div>
                            <div class="col">
                                <div class="card-collapse-th"> {{ lang.libelle }} </div>
                            </div>
                            <div class="col">
                                <div class="card-collapse-th"> {{ lang.adresse }} </div>
                            </div>
                            <div class="col">
                                <div class="card-collapse-th"> {{ lang.ville }} </div>
                            </div>
                            <div class="col">
                                <div class="card-collapse-th"> {{ lang.paYs }} </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div> {{ beneficiairePrim.idTiers }} </div>
                            </div>
                            <div class="col">
                                <div> {{ app.renderEmpty(beneficiairePrim.libLong) }} </div>
                            </div>
                            <div class="col">
                                <div> {{ renderAdresseTier }} </div>
                            </div>
                            <div class="col">
                                <div> {{ renderVilleTier }} </div>
                            </div>
                            <div class="col">
                                <div *ngIf="beneficiairePrim != null"> {{ beneficiairePrim.paysResidence.libelleLongPays }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-teleport>
<app-teleport #teleportBeneficiaireReglement to=".teleport-beneficiaire-reglement">
    <app-infos-beneficiaire #infosBeneficiaireReglement></app-infos-beneficiaire>
</app-teleport>
<app-teleport #teleportFournisseur to=".teleport-fournisseur">
    <app-table *ngIf="showFournisseur" #tableFournisseur type="beneficiaireVersement" url="urlGetBeneficiaireById" [manualLoading]=true [hideFilters]=true [hideFooter]=true [itemsByPage]="1"></app-table>
</app-teleport>
<app-teleport #teleportNombreDC to=".teleport-nombre-document-contractuel">
    <span *ngIf="nbrDocumentContractuel != null" class="mt-2 mb-3">{{ lang.reglement.attendance }} {{ nbrDocumentContractuel }} {{ lang.reglement.projectDocuments }} {{ libelleProjet }}</span>
</app-teleport>
<app-teleport #teleportDC to=".teleport-detail-document-contractuel">
    <app-infos-dc #infosDc [showLinkDc]="true" [versement]="versement"></app-infos-dc>
</app-teleport>
<app-teleport #teleportAR to=".teleport-detail-avance-remboursable">
    <div *ngIf="showDetailsAR()" class="accordion container float-left p-1">
        <div class="card infos card-collapse mt-3">
            <div class="collapse show">
                <div class="card-body">
                    <div class="container px-2">
                        <div class="row mt-0 pb-2 card-collapse-separator">
                            <div class="col text-right">
                                <div class="card-collapse-th"> {{ lang.documentContractuel.montantARInitiale }} </div>
                            </div>
                            <div class="col text-right">
                                <div class="card-collapse-th"> {{ lang.documentContractuel.remboursementEffectuee }} </div>
                            </div>
                            <div class="col text-right">
                                <div class="card-collapse-th"> {{ lang.documentContractuel.resteARembourser }} </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-right">
                                <div> {{ app.formatNumberWithDecimals(arInitiale) }} </div>
                            </div>
                            <div class="col text-right">
                                <div> {{ app.formatNumberWithDecimals(rembEffectuee) }} </div>
                            </div>
                            <div class="col text-right">
                                <div> {{ app.formatNumberWithDecimals(resteARembourser) }} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-teleport>
<app-teleport #teleportDcJustificatif to=".teleport-document_contractuel">
    <label for="inputDC" class="mt-3 fieldset-title">{{ lang.document }}</label>
    <input *ngIf="infosDcJustificatif != null" type="text" class="form-control" id="inputDC" [value]="infosDcJustificatif" readonly>
</app-teleport>
<app-teleport #teleportJustificatifReglement to=".teleport-justificatifs-reglement">
    <app-table *ngIf="showJustificatifsReglement" #tableJustificatifsReglement type="justificatifsReglement" [parentItems]="justificatifsReglement" [manualLoading]=true [read]="read" [hideFilters]=true [enableAdd]="app.isAgentVersement(role) && (reglement != null ? !app.isDossierAnnule(reglement.code_statut_dossier) : true)" (goto)="addJustificatifReglement($event, true)" (add)="confirmerAddJustificatifReglement($event)" [itemsByPage]="5">
    </app-table>
</app-teleport>
<!-- <Emetteur-Jutificatif-Reglement> -->
<app-teleport #teleportEmetteurJustificatif to=".teleport-emetteur-justificatif">
    <app-infos-beneficiaire #infosEmetteurJustificatif [showTiersUsedByConcours]="false"></app-infos-beneficiaire>
</app-teleport>
<app-teleport #teleportSelectEmetteurJustificatif to=".teleport-select-emetteur-justificatif">
    <app-select-beneficiaire #selectEmetteur (change)="getEmetteurJustificatifDDR()"></app-select-beneficiaire>
</app-teleport>
<app-teleport #teleportDetailAvanceContractuel to=".teleport-avance">
    <app-infos-avance #infosAvance [displayButtonAvance]="(app.isChargeAppui(role) || app.isAgentVersement(role))" [enableCollapse]="(app.isChargeAppui(role)  || app.isAgentVersement(role))"></app-infos-avance>
</app-teleport>
<app-teleport #teleportContrevaleur to=".teleport-contrevaleur">
    <ng-container *ngIf="contrevaleurVisible || equivalentVisible">
        <div class="row mt-2">
            <div class="col form-text text-muted">
                <ng-container *ngIf="contrevaleurTypeDeviseReglement == '1'">
                    {{ lang.reglement.veuillezRegler }} {{ contrevaleurMontantReglement }} {{
                    contrevaleurDeviseReglement }}
                </ng-container>
                <ng-container *ngIf="contrevaleurTypeDeviseReglement == '0'">
                    {{ lang.reglement.veuillezRegler1 }} {{ contrevaleurDeviseReglement }} {{
                    lang.reglement.veuillezRegler2 }} {{ contrevaleurMontantReglement }} {{ contrevaleurDeviseVersement
                    }}
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="contrevaleurVisible">
        <div class="row">
            <div class="col fieldset-subtitle">
                {{ lang.reglement.contrevaleur }}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto formio-number formio-amount">
                <label>{{ lang.reglement.mntProvisoire }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="contrevaleurMontantRender">
            </div>
            <div class="col-3">
                <label>{{ lang.reglement.deviseConcours }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="contrevaleurDeviseRender">
            </div>
            <div class="col-auto formio-number">
                <label>{{ lang.actualizedOn }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="contrevaleurDateRender">
            </div>
            <div class="col-auto mt-2">
                <button class="btn btn-secondary button-form" (click)="updateContrevaleur()">
                    <i class="fas fa-refresh mr-1"></i> {{ lang.actualize }}
                </button>
            </div>
        </div>
    </ng-container>
</app-teleport>
<app-teleport #teleportEquivalent to=".teleport-equivalent">
    <ng-container *ngIf="equivalentVisible">
        <div class="row mt-2">
            <div class="col-auto formio-number formio-amount">
                <label>{{ lang.reglement.mntEquivalent }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="equivalentMontantRender">
            </div>
            <div class="col-3">
                <label>{{ lang.reglement.deviseReglementRappel }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="contrevaleurDeviseReglement">
            </div>
            <div class="col-auto formio-number">
                <label>{{ lang.actualizedOn }}</label>
                <input type="text" class="form-control" disabled [(ngModel)]="equivalentDateRender">
            </div>
            <div class="col-auto mt-2">
                <button class="btn btn-secondary button-form" (click)="updateEquivalent()">
                    <i class="fas fa-refresh mr-1"></i> {{ lang.actualize }}
                </button>
            </div>
        </div>
    </ng-container>
</app-teleport>
<app-teleport #teleportSelectBeneficiareReglement to=".teleport-select-beneficiaire-reglement">
    <app-select-beneficiaire #selectbeneficaire (change)="getBeneficiaireReglement()"></app-select-beneficiaire>
</app-teleport>
<app-teleport #teleportDetailsCoordonneeBancaire to=".teleport-details-coordonnee-bancaire">
    <app-infos-coordonnee-bancaire #infosCoordonneeBancaire></app-infos-coordonnee-bancaire>
</app-teleport>
<app-teleport #teleportDevisesReglement to=".teleport-devise-reglement">
    <div style="margin-top:10px">
        <label>{{ labelDeviseSelected }} <span class="text-danger">*</span></label>
        <select *ngIf="devisesReglement != null" class="form-control" [class]="(checkSelectDeviseReglement && app.isEmpty(deviseSelected)) ? 'border border-danger' : ''" [(ngModel)]="deviseSelected" [disabled]="read" (change)="updateContrevaleurEtEquivalent()">
            <option *ngFor="let devise of devisesReglement" [value]="devise.code">{{ devise.code }} - {{ devise.label }}</option>
        </select>
        <div *ngIf="checkSelectDeviseReglement && app.isEmpty(deviseSelected)" class="form-text error mt-2">
            {{ lang.formFieldMandatory }}
        </div>
    </div>
</app-teleport>
<app-teleport #teleportSelectAvance to=".teleport-select-avance">
    <div *ngIf="avancesContractuel != null && app.isAvance(versement.modalite_paiement)">
        <select *ngIf="avancesContractuel.length > 0" class="form-control" [(ngModel)]="idAvanceContractuel" [disabled]="read" (change)="getAvanceContractuel()">
            <option *ngFor="let ac of avancesContractuel" [value]="ac.persistenceId">{{ ac.libelle }}</option>
        </select>
        <span *ngIf="avancesContractuel.length == 0" class="mt-2"> {{ lang.reglementAFD.none }}</span>
    </div>
</app-teleport>